body {
    margin: 0;
    padding: 0;
    background-image: url('king.jpg'); /* Cambia 'tu-background.jpg' al nombre de tu archivo */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff;
  }
  
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Oscurece ligeramente el fondo */
  }
  
  .title {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px black;
  }
  
  .menu-button {
    background-color: #3498db;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2em;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
  }
  
  .menu-button:hover {
    background-color: #1d6fa5;
    transform: scale(1.1);
  }
  